body {
  background-color: pink;
}

#container {
  display: flex;
  flex-direction: column;

  gap: 1px;
  background-color: aquamarine;
  width: 80vh;
  height: 80vh;
}

.box {
  border: 1px solid black;

  flex-grow: 1;
}

.box.active {
  background-color: black;
}
.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
